# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment
venv/
env/

# Ignore logs and databases
*.log
*.sqlite3

# Ignore IDE files
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db
